.work {
  padding-top: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Cards {
  display: flex;
  gap: 80px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



.card {
  --bg: rgb(19, 19, 19);
  --hover-bg: rgb(215, 183, 255);
  --hover-text: rgba(158, 88, 243, 1);
  max-width: 23ch;
  min-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 24px;
  padding-block: 1.8em;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(158, 88, 243, 1);
}

.card__body {
  color: #ffffff;
  line-height: 150%;
  font-weight: 300;
  font-size: 14px;
}

.card > :not(span) {
  transition: .3s cubic-bezier(.6,.4,0,1);
}

.card > strong {
  display: block;
  font-size: 28px;
  letter-spacing: 3%;
  font-weight: 600;
}

.card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card:hover span {
  top: 0;
  font-size: 1.2em;
}

.card:hover {
  background: var(--hover-bg);
  box-shadow: none;
}

.card:hover>div,.card:hover>strong {
  opacity: 0;
}

@media (max-width: 1140px) {
  .work {
    padding-left: 80px;
    padding-right: 80px;
  }
}